@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
}
.titre {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

/* ACCUEIL */
#accueil {
	background-color: #001524f8;
}
#accueil .accueil {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: right;
}
#accueil h1 {
	display: block;
	width: fit-content;
	font-size: 10vh;
	position: relative;
	color: white;
}

.left{
	float: left;
}

.right{
	float: right;
	margin-left: 20px;
}

.background_img{
	position: relative;
	opacity: 1;
	max-width: 50vh;
	max-height: 50vh;
	border-radius: 50%;
	margin-bottom: -0.40vh;
}

.rounded_dark{
	max-height: 85vh;
	max-width: 85vh;
	background-color: #8ec4eda8;
	border-radius: 50%;
}

/* NAVBAR */

.navbar{
	background-color: #071b2a;
}

.navbar .logo{
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	float: left;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	background-color: #071b2a;
	z-index: 1000;
}

.navbar li:not(.logo) {
	float: right;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	color: #70acda;
}

/* projet */

#projet .projet{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#projet .card{
	margin: 10px;
	width: 35vh;
	height: 35vh;
	position: relative;
	/* background-color: #999999; */
	background-image: url(./images/bg_card.jpg);
	border-radius: 7%;
	overflow: hidden;
	z-index: 1;
}

#projet .card .content{
	margin-top: 50%; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

#projet .card::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0);
	opacity: 0.4;
	z-index: -1;
}

#projet .card h1{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 1rem;
	max-height: 5rem;
	font-size: 5rem;
	color: white;
}

#projet .card p{
	max-height: 11vh;
	overflow: clip;
	margin-top: 1.5vh;
	margin-bottom: 2vh;
	margin-left: 1vh;
	font-size: 1.5vh;
	color: white;
}


#projet .card button a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: white;
}

#projet .card button{
	padding: 1vh;
	background-color: transparent;
	border: 0.4vh solid rgb(255, 255, 255);
	border-radius: 10%;
}

#projet .projet_haut{
	max-width: 500px;
	margin: 0 auto;
}

#projet .projet_haut .titre{
	font-size: 8rem;
}
#projet .projet_bas{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

/* SCROLL BAR */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #e2e2e2 #071b2a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #071b2a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
    border-radius: 3px;
    border: 0px dashed #e2e2e2;
  }
